#gridContainer{
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    height: 600px;
    width: 600px;
    grid-gap: 1px;
    padding-top: 50px;
}

.box{
    border: 1px solid rgb(158, 158, 158);
}

.center-align{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#reset {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(207, 50, 50);
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    left: -65px;
  }
  
  #reset:hover {background-color:  rgb(240, 11, 11);}
  
  #reset:active {
    background-color: rgb(240, 11, 11);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
}

#width{
    margin-right: 20px;
    height: 20px;
    position: relative;
    top: 8px;
    left: -90px;
    border-radius: 15px;
    text-align: center;
    outline: none;
    height: 50px;
    color: #666;
    font-size: 30px;
}